/***** BANNER *****/

.main-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background: #442D17;
}

/* ===== UL LISTA ===== */
.banner-list {
        position: absolute;
    top: 115px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
    list-style: none;
   z-index: 10;
    max-width: 1200px;
    padding: 0;
    text-align: center;;
    flex-direction: column;
}

.banner-items{
    display: flex;
    background: #001C1F;
    border-radius: 100px;   
}

.banner-title h1{
  color: #fff;
  margin: 0;
}

.banner-title {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.banner-title.hidden {
  opacity: 0;
  pointer-events: none;
}



.banner-list li {
  background: #022D2F;
    color: white;
    padding: 12px 20px;
    border-radius: 30px;
    transition: all 0.4s ease;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 500;
    transition: all 0.4s ease, transform 0.3s ease;
    transform-origin: center;
    width: 170px;
    margin: 12px;
}

.banner-list li.active {
  background: #fff;
  color: #442D17;
  transform: scale(1.2);
  transform: scale(1.3);
  box-shadow: 0 0 20px rgba(255,255,255,0.3);
  border-radius: 30px 30px 0 0;
  width: 25%;
}

.banner-list li.active::after{
      content: "";
    font-size: 10px;
    position: absolute;
    bottom: -20px;
    width: 100%;
    background: #fff;
    left: 0;
    height: 30px;
}



/* ===== CARDS ===== */
.cards-container {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.cards-expanding {
  flex: 1;
  transition: all 0.6s ease;
  color: white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.cards-expanding:hover {
  flex: 10;
}

.cards-expanding:hover .wrapper-cards-expanding > img {
    width: 100%;
    height: 100%;
    filter: blur(10px);
}

.wrapper-cards-expanding {
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper-number-and-name{
  position: absolute;
    bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-number {
      font-size: 7rem;
    font-weight: bold;
    margin: 0;
    font-style: italic;
    opacity: 0.4;
}

.card-title {
      font-size: 1.5rem;
    position: relative;
    top: -36px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
}

.content-cards-expanding {
  display: none;
}

.cards-expanding:hover .card-number,
.cards-expanding:hover .card-title {
  display: none;
}

.cards-expanding:hover .content-cards-expanding {
  display: block;
    position: absolute;
    bottom: -30%;
    transform: translate(-50%, -50%);
    left: 50%;
    background: blue;
    width: 90%;
    height: 70%;
}
