.custom-banner {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.custom-banner__background {
  position: relative;
  width: 100%;
}

.custom-banner__main-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.custom-banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  pointer-events: none;
}

/* === CENTRO === */
.custom-banner__center-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ÍCONE FIXO */
.custom-banner__center-static {
  position: absolute;
  z-index: 3;
}

.custom-banner__center-static img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* CÍRCULO GIRATÓRIO */
.custom-banner__rotating {
  position: absolute;
  z-index: 2;
}

.custom-banner__rotating img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform-origin: center center;
}

/* ANIMAÇÃO */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* TEXTO RODAPÉ */
.custom-banner__footer-text {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 64px;
  text-align: center;
  z-index: 4;
  width: 100%;
  letter-spacing: 1.5px;
}

.custom-banner__footer-text p{
    margin: 0;
}

/* PLACEHOLDER */
.custom-banner__placeholder {
  text-align: center;
  padding: 50px;
  background: #f5f5f5;
}
